@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="jf-rc-status">
    <div class="jf-rc-status__card">
        <h1>Access denied</h1>
        <p>You don't have permission to view this page. Please sign in with an employer account.</p>
        <a href="~/Login" class="jf-rc-btn jf-rc-btn--primary">Sign in</a>
    </div>
</div>
