@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="jf-rc-status">
    <div class="jf-rc-status__card">
        <h1>Page not found</h1>
        <p>The page you're looking for doesn't exist or may have been moved.</p>
        <a href="~/Login" class="jf-rc-btn jf-rc-btn--primary">Back to sign in</a>
    </div>
</div>
